<div class="component-shop-info row justify-content-md-center" style="margin: 0px;">
  <div class="card cart-card" style="margin-top: 0px;">
    <div class="card-content" style="padding:15px;">
      <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2" style="padding:0px;">
        <img src="assets/img/food.jpg" class="img-responsive cart-shop-image">
      </div>
      <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8" style="padding:0px;">
        <h4 style="font-weight: 400; margin: 0;">{{shop.nameEn}}</h4>
        <div>
          255, Main Street, Pettah
        </div>
        <div class="shop-status-wrapper color-secondary">
          <i class="fa fa-shopping-cart" style="font-size:18px;"></i> &nbsp;Active Shop
        </div>
      </div>
      <div class="hidden-xs col-sm-2 col-md-2 col-lg-2" style="padding:0px;">
        <button class="btn btn-default btn-round btn-just-icon btn-cart-shop-details">
                <i class="fa fa-info-circle"></i>
                <div class="ripple-container"></div>
            </button>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
</div>