.page-shopping-cart {
    .no-padding {
        padding: 0;
    }
    .no-margin {
        margin: 0;
    }
    .cart-shop-image {
        height: 72px;
        width: 72px;
        object-fit: cover;
        border-radius: 100%;
    }
    .btn-cart-shop-details {
        height: 48px;
        width: 48px;
        margin: 12px;
        background-color: transparent;
        color: #898989;
        box-shadow: none;
        float: right;
    }
    .cart-card {
        margin-bottom: 15px;
        margin-top: 0px;
    }
    .cart-item-row {
        border-top: 1px solid #eee;
        padding: 10px;
    }
    .cart-item-title {
        margin: 2px 0;
        font-size: 1.2em;
        font-weight: 500;
    }
    .cart-item-image-wrapper {
        padding: 0;
        height: 96px;
        object-fit: cover;
    }
    .cart-item-image {
        object-fit: cover;
        display: block;
        margin: 0 auto;
        height: 96px;
    }
    .cart-item-btn-comment {
        padding: 8px 12px;
        margin: 2px 0 0 0;
    }
    .cart-item-details-wrapper {
        height: 96px;
    }
    .cart-item-price-wrapper {
        margin-top: 8px;
    }
}