.component-category-list {
    .category-image-wrapper {
        height: 180px;
    }
    .img-category {
        object-fit: cover;
    }
    .card-description {
        max-height: 40px;
        line-height: 20px;
        overflow: hidden;
    }
    .category-card {
        height: 250px;
    }
}