.component-category-list {
    .category-image-wrapper {
        height: 180px;
    }
    .img-category {
        object-fit: cover;
    }
    .card-description {
        max-height: 40px;
        line-height: 20px;
        overflow: hidden;
    }
    .category-card {
        height: 250px;
        transition: box-shadow 0.5s ease-in-out;
    }
    .category-card:hover {
        box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.14);
    }
}