<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-4 col-md-6" *ngFor="let item of items">
                <a href="item/{{item.itemCode}}">
                    <div class="card card-product">
                        <div class="card-image card-item-image-wrapper" data-header-animation="true">
                            <img class="img card-item-image" [src]="item.img1" alt="Item Image">
                        </div>
                        <div class="card-content">
                            <div class="card-actions" style="top:-62px;">
                                <div class="btn btn-default btn-simple card-item-desc">{{item.descriptionEn}}</div>
                            </div>
                            <h4 class="card-title">
                                {{item.nameEn}}
                            </h4>
                            <!-- <div class="card-description">
                            <button class="btn btn-info cart-item-btn-comment">Add Comment</button>
                        </div> -->
                            <div class="card-description">
                                <!-- <div class="pull-left cart-item-price">
                                <span style="font-weight: 300;">2 UNIT X LKR 10 =</span>
                            </div> -->
                                <div>
                                    <span class="badge badge-info card-item-pricetag">LKR {{item.price}}.00 / {{ item.unit.toUpperCase() }}</span>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row" style="margin: 0; display: block;">
                                <div class="col col-lg-9 col-md-9" style="margin: 0; padding: 0; display: block;">
                                    <input type="number" class="card-item-quantity" placeholder="Quantity" />
                                </div>
                                <div class="col col-lg-3 col-md-3" style="margin: 0; padding: 0; display: block;">
                                    <button title="Add to Cart" class="btn btn-primary action-item-add-cart col-9"><i class="fa fa-shopping-cart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</div>