.page-shop-list {
    .card-avatar {
        margin: -30px auto 0;
    }
    .shop-profile-picture {
        height: 130px;
        width: 130px;
        object-fit: cover;
    }
    .shop-address {
        margin-top: 0px;
        margin-bottom: 10px !important;
        font-size: 0.9em;
    }
    .shop-keyword {
        padding: 3px 12px;
        margin: 4px 3px;
        box-shadow: none;
    }
    .card-profile {
        transition: box-shadow 0.5s ease-in-out;
    }
    .card-profile:hover {
        box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.14);
    }
}