<div class="main-content">
    <div class="container-fluid page-shop-list">
        <div class="row">
<!--
            <div class="col-lg-12 col-md-12 col-sm-12">
                <app-breadcrumb [breadcrumbArray]="breadcrumbArray"></app-breadcrumb>
            </div>
        -->
            <div *ngIf="isLoading">
                <div class="loader loader-position-fix">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="0" />
                    </svg>
                </div>
            </div>

            <div class="row">
                <div  *ngIf="!isLoading && !isAvailable" class="col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" style="padding: 0;">
                    <div style="margin-bottom: 15px; margin-top: 0px;">
                        <div class="card-content" style="padding:0;text-align: center;">
                            <h6>No Shops available in this category.
                                <br>Try a different category </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6" *ngFor="let shop of shops">
                <a [routerLink]="['/shop']" [queryParams]="{shop: shop.shopId}" queryParamsHandling="merge" (click)="shopSelected(shop)">
                    <div class="card card-profile">
                        <div class="card-avatar animated flipInX fileinput-new thumbnail img-circle">
                            <img class="img shop-profile-picture" [src]="shop?.profileUrl ? shop?.profileUrl : './assets/img/placeholder.jpg'" alt=" " />
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{shop?.shopName}}</h4>
                            <h6 class="category text-gray shop-address">{{shop?.street}}</h6>
                            <p>
                                <button class="btn btn-info btn-round shop-keyword" *ngFor="let keyword of shop.keywordsArray">{{keyword}}</button>
                            </p>
                            <p class="description">
                                {{shop?.descriptionEn}}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>