<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-6" *ngFor="let shop of shops">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img shop-profile-picture" [src]="shop.profilePicture" />
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{shop.username}}</h4>
                        <h6 class="category text-gray shop-address">{{shop.address}}</h6>
                        <p>
                                <button class="btn btn-info btn-round shop-keyword" *ngFor="let keyword of shop.keywordsArray">{{keyword}}</button>
                        </p>
                        <p class="description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
                            I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-primary btn-round">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>