<div class="main-content page-shop-list">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <app-breadcrumb [breadcrumbArray]="breadcrumbArray"></app-breadcrumb>
            </div>

            <div class="col-md-4 col-sm-6" *ngFor="let shop of shops">
                <a [routerLink]="['/shop']" [queryParams]="{shop: shop.shopId}" queryParamsHandling="merge" (click)="shopSelected(shop)">
                    <div class="card card-profile">
                        <div class="card-avatar animated flipInX">
                            <img class="img shop-profile-picture" [src]="shop?.profileUrl" />
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{shop?.shopName}}</h4>
                            <h6 class="category text-gray shop-address">{{shop?.street}}</h6>
                            <p>
                                <button class="btn btn-info btn-round shop-keyword" *ngFor="let keyword of shop.keywordsArray">{{keyword}}</button>
                            </p>
                            <p class="description">
                                {{shop?.descriptionEn}}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>