.page-order-hostory {
    .no-margin {
        margin: 0;
    }
    .cart-item-row {
        border-bottom: 1px solid #eee;
        padding: 5px;
    }
    .cart-item-image-wrapper {
        height: 40px;
        object-fit: cover;
        padding-right: 0;
    }
    .cart-item-image {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        margin: 0;
    }
    .cart-item-title {
        font-weight: 500; font-size: 1em; font-weight: 500;
    }
    // .cart-item-details-wrapper {
        // height: 40px; 
    // }
    .cart-item-price-wrapper {
        margin-top: 8px;
    }
}