<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <simple-notifications [options]="options"></simple-notifications>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <app-breadcrumb [breadcrumbArray]="breadcrumbArray"></app-breadcrumb>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header card-header-tabs" data-background-color="purple" style="padding: 6px 15px; box-shadow: 3px 2px 4px #ddd;">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <i class="material-icons pull-left" style="padding:5px 3px;">my_location</i>
                                    <span class="nav-tabs-title" style="padding: 5px; font-weight: 700; margin-right: 10px;">My Location </span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="active">
                                            <a href="#location" [routerLink]="['/settings']" data-toggle="tab" style="padding: 5px 20px;">
                                                <i class="material-icons">mode_edit</i> Change
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-content" style="padding:0 0 30px 0;">
                            <div class="tab-content" style="margin-top:10px;">
                                <div class="tab-pane active" id="location">
                                    <div class="col-sm-4" style="text-align: center;">
                                        <span style="font-weight: 500;">Country : </span>
                                        <span>{{country.nameEn}}</span>
                                    </div>
                                    <div class="col-sm-4" style="text-align: center;">
                                        <span style="font-weight: 500;">Province : </span>
                                        <span>{{province.nameEn}}</span>
                                    </div>
                                    <div class="col-sm-4" style="text-align: center;">
                                        <span style="font-weight: 500;">City : </span>
                                        <span>{{city.nameEn}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-lg-3 col-md-6 col-sm-6" (click)="routeToPath('/categories')" style="cursor: pointer">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">view_carousel</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Categories</p>
                        <h3 class="card-title">{{counts.countCategory}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">shop</i> View Available Shops
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">shop</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Shops</p>
                        <h3 class="card-title">{{counts.countShops}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">chat_bubble_outline</i> Buy from Shops around you
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" (click)="routeToPath('/cart')" style="cursor: pointer">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">shopping_cart</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Total Items</p>
                        <h3 class="card-title">{{counts.countItems}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">shopping_cart</i> Checkout Items
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" (click)="routeToPath('/orders')" style="cursor: pointer">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">My Orders</p>
                        <h3 class="card-title">2</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            
        </div>

        <div class="header text-center">
            <h4 class="title" style="text-align: left;">Categories</h4>
            <div style="height: 1px; width: 100%; background-color: #ddd; margin-bottom: 20px;"></div>
            <!-- <p class="category">A beautiful plugin, that replace the classic alert, Handcrafted by our friend
                <a target="_blank" href="https://twitter.com/t4t5">Tristan Edwards</a>. Please check out the
                <a href="http://limonte.github.io/sweetalert2/" target="_blank">full documentation.</a>
            </p> -->

            <app-category-list></app-category-list>

        </div>
    </div>
</div>