.page-dashboard {
    .card-header {
        padding: 0px 4px;
    }
    .carousel-wrapper {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); 
        object-fit: contain;
        border-radius: 6px;
    }
    #containerIntro {
        display: inline;
    }
    .category {
        display: inline-flex;
        margin-right: 10px;
    }
    .card-stats .card-header i {
        font-size: 30px;
    }
    .slide {
        background-color: #fff;
        object-fit: contain !important;
        height: 400px !important;
    }
}