.page-user-profile {
    .input-group {
        padding: 15px 5px 0px;
    }
    .btn-save-profile {
        margin-right: 4px;
        margin-left: 4px;
        font-weight: 700;
        width: 100%;
    }
}