<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="purple">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Edit Profile
                            <!-- <small class="category">Complete your profile</small> -->
                        </h4>
                        <form #f="ngForm" novalidate autocomplete="off" (ngSubmit)="doRegister()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="padding: 15px 15px 0px;">
                                                    <i class="material-icons">face</i>
                                                </span>
                                        <input type="text" (blur)="inputBlur()" #forminput class="form-control" placeholder="Name..." name="username" [(ngModel)]="register.username" #username="ngModel" maxlength="40" minlength="5">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="padding: 15px 15px 0px;">
                                                            <i class="material-icons">email</i>
                                                        </span>
                                        <input type="text" (blur)="inputBlur()"  class="form-control" placeholder="Email..." [(ngModel)]="register.email" name="email" #email="ngModel" maxlength="40" minlength="6" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="padding: 15px 15px 0px;">
                                                            <i class="material-icons">call</i>
                                                        </span>
                                        <span class="input-group-addon" style="padding: 13px 5px 0px;">
                                                                +94 - 
                                                            </span>
                                        <input type="text" (blur)="inputBlur()" class="form-control" placeholder="Phone..." [(ngModel)]="register.phone" name="phone" #phone="ngModel" maxlength="15" minlength="5">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="padding: 15px 15px 0px;">
                                                            <i class="material-icons">lock_outline</i>
                                                        </span>
                                        <input type="text" (blur)="inputBlur()"  class="form-control" placeholder="Password..." [(ngModel)]="register.password" name="password"  #password="ngModel" maxlength="12" minlength="3">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="padding: 15px 15px 0px;">
                                                            <i class="material-icons">lock_outline</i>
                                                        </span>
                                        <input type="text" (blur)="inputBlur()"  class="form-control" placeholder="Verify Password..." name="confirmPassword" [formControl]="confirmPassword">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-rose pull-right">Save Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile" style="margin-top: 25px;">
                    <div class="card-avatar" style="margin:-40px auto 0;">
                        <a href="#pablo">
                            <img class="img" [src]="user.profilePicture ? user.profilePicture : '../../assets/img/profile_default_grey.webp'" />
                        </a>
                    </div>
                    <div class="card-content" style="margin-top:0;">
                        <h4 class="card-title" style="text-transform: uppercase; margin-bottom: 0;">{{user.username}}</h4>
                        <h6 class="category text-gray" style="text-transform: none; margin-bottom: 10px; margin-top: 0px;">{{user.email}}</h6>
                        <!-- <p class="description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
                            I love Rick Owens’ bed design but the back is...
                        </p> -->
                        <a href="#pablo" class="btn btn-rose btn-round"><i class="fa fa-file-image-o"></i> &nbsp;&nbsp;Image</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="purple">
                        <i class="material-icons">home</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">
                            My Address
                            <!-- <small class="category">Complete your profile</small> -->
                        </h4>

                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <ul class="nav nav-pills nav-pills-icons nav-pills-rose nav-stacked" role="tablist">
                                    <!--
                            color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                        -->
                                    <li class="active">
                                        <a href="#my-list" role="tab" data-toggle="tab">
                                                <i class="material-icons">edit_location</i> Existing
                                            </a>
                                    </li>
                                    <li>
                                        <a href="#create-address" role="tab" data-toggle="tab">
                                                <i class="material-icons">add_location</i> Add New
                                            </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="my-list">
                                        <div *ngFor="let address of addresses" style="margin-bottom: 12px; border-bottom: 1px solid #eee;">
                                            <h6 class="card-title" style="padding:0;margin:0; font-weight: 400; text-transform: none;">
                                                {{ address.nickName }}
                                                <i class="material-icons pull-right" style="line-height: 40px;" (click)="deleteAddress(address.id)">delete</i>
                                            </h6>
                                            <p class="category">
                                                {{ address.street }}, {{ address.cityEn }}, {{ address.provinceEn }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="create-address">
                                            <form #newadd="ngForm" novalidate autocomplete="off" (ngSubmit)="addAddress()"> 
                                        <div class="animated flipInX">
                                            <div class="form-group label-floating" style="padding-bottom: 0;">
                                                <label class="control-label">Nickname</label>
                                                <input type="text" [(ngModel)]="dlvAddress.nickName" #nickName="ngModel" name="nickName" class="form-control">
                                            </div>
                                        </div>
                                        <div class="animated flipInX">
                                            <div class="form-group label-floating" style="padding-bottom: 0;">
                                                <label class="control-label">Street</label>
                                                <input type="text" [(ngModel)]="dlvAddress.street" #street="ngModel" name="street" class="form-control">
                                            </div>
                                        </div>
                                        <ul class="list-group animated flipInX" style="margin: 20px 0 0 0;">
                                            <li class="list-group-item justify-content-between" style="border:none; padding:0px;">
                                                {{city.nameEn}}, {{province.nameEn}}, {{country.nameEn}}
                                            </li>
                                        </ul>
                                        <button type="submit" class="btn btn-rose pull-right">Save Address</button>
                                        <p class="category">
                                                {{ msg?.message }}
                                            </p>
                                        
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div style="height: 1px; width: 100%; background-color: #eee;"></div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-5 col-sm-4 col-xs-12" id="new-address-heading">
                                Create New Address
                                <div class="togglebutton pull-right">
                                    <label>
                                                            <input type="checkbox" (change)="toggleNewAddress()" [(ngModel)]="isNewAddress">
                                                        </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="isNewAddress">
                            <div class="col-md-12">

                            </div>
                        </div>
                        <div *ngIf="!isNewAddress" style="height: 1px; width: 100%; background-color: #eee; margin-top:6px;"></div>
                        <div class="row" *ngIf="!isNewAddress">
                            <div class="col-md-12">

                            </div>
                        </div> -->

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>