.item-image-active-wrapper {
    margin: 20px 15px 10px 15px;    
    padding: 0;
}

.item-image-active {
    width: 100%;
    border-radius: 3px;
}

.item-image-inactive {
    width: 100%;
    opacity: 0.4;
    border-radius: 3px;
}

.image-selected {
    opacity: 1;
}
.item-comment {
    padding: 10px 15px;
    display: block;
    background-color: #eee;
    border-radius: 4px;
    margin-top: 20px;
}

.item-qty-btn {
    height: 44px;
    width: 44px;
    box-shadow: none;
    margin: 0;
}
.border-left-fix {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -1px;
}
.border-right-fix {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: -1px;
}
.item-qty-text {
    height: 32px;
    box-sizing: border-box;
    padding: 19px 10px 21px 10px;
    margin-left: -4px;
    width: 50%;
    text-align: center;
}
.item-cart-btn {
    height: 44px;
    width:90%;
    box-shadow: none;
    margin: 0;
}


.cart-shop-image {
    height: 72px;
    width: 72px;
    object-fit: cover;
    border-radius: 100%;
}
.btn-cart-shop-details {
    height: 48px;
    width: 48px;
    margin: 12px;
    background-color: transparent;
    color: #898989;
    box-shadow: none;
    float: right;
}